@model GenreViewModel
@{
    string strTitle = "Добавить жанр";
    ViewBag.Title = strTitle;
}
<div>
    <form asp-area="Moderator" asp-controller="Book" asp-action="AddGenre" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <div class="inputBox">
            <h2>Название жанра</h2>
            <input asp-for="Name">
            <span asp-validation-for="Name"></span>
        </div>
        <input type="submit" class="glo" value="Сохранить">
    </form>
</div>


