@model IEnumerable<IBookViewModel>

    <section>
        <h2>Новинки</h2>
        <ul class="small-image-list">
            @foreach (var entity in Model)
            {
                <li>
                <a asp-area="" asp-controller="Book" asp-action="ShowCurrentBook" asp-route-id="@entity.Id">
                        <img src="~/images/@entity.TitleImagePath" alt="" class="left UlImage">
                    </a>
                    <h4>
                        @entity.Title
                    </h4>
                    <p>
                        @entity.SubTitle
                    </p>
                </li>
            }
        </ul>
    </section>
