@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
}
<div>
    <h2>@strTitle</h2>
    <h3>Редактирование страницы сайта</h3>
    <div class="EditModer">
        <a class="gloAdmin" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
        @*<a class="gloAdmin" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Книги</a>*@
        <a class="gloAdmin" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Контакты</a>
    </div>
    <div>
        <h3>Управление пользователями</h3>
        <div>
            <a class="glo" asp-area="Admin" asp-controller="UsersShow" asp-action="UsersShow">Показать всех пользователей</a>
        </div>
    </div>
</div>
