@model IEnumerable<IBookViewModel>
@{
    string strTitle = "Книги по вашему запросу";
    ViewBag.Title = strTitle;
}
<div>
    <h2>@TempData["Message"]</h2>
    <div class="div-box">
        <a class="glo" asp-controller="Book" asp-action="SearchBookByAutor">Поиск по автору</a>
        <a class="glo" asp-controller="Book" asp-action="SearchBookByGenre">Поиск по жанру</a>
        <form asp-controller="Book" asp-action="SearchByName" method="post" enctype="multipart/form-data">
            <div class="div-box">
                <h2>Поиск по названию</h2>
                <div class="inputBox">
                    <input type="text" name="name">
                </div>
                <input style="display: inline-block;" type="submit" class="glo" value="Найти">
            </div>
        </form>
    </div>
</div>
<div>
    <ul class="big-image-list">
        @foreach (IBookViewModel viewModel in Model)
        {
            <li>
                <a asp-area="" asp-controller="Book" asp-action="ShowCurrentBook" asp-route-id="@viewModel.Id">
                    <img src="~/images/@viewModel.TitleImagePath" alt="" class="left UlImage">
                </a>
                <h4>@viewModel.Title</h4>
                <p>@viewModel.SubTitle</p>
            </li>
        }
    </ul>
</div>
