@model RegisterViewModel
@{
    string strTitle = "Регистрация";
    ViewBag.Title = strTitle;
}
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <p class="Alert">@ViewData["Message"]</p>
    <div class="inputBox">
        <label asp-for="UserName"></label><br />
        <input class="inputBox" asp-for="UserName" />
        <span asp-validation-for="UserName" class="Alert"></span>
    </div>
    <div class="inputBox">
        <label asp-for="Email"></label><br />
        <input class="inputBox" asp-for="Email" />
        <span asp-validation-for="Email" class="Alert"></span>
    </div>
    <div class="inputBox">
        <label asp-for="Password"></label><br />
        <input class="inputBox" asp-for="Password" />
        <span asp-validation-for="Password" class="Alert"></span>
    </div>
    <div class="inputBox">
        <label asp-for="PasswordConfirm"></label><br />
        <input class="inputBox" asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm" class="Alert"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" class="glo" />
    </div>
</form>