@model RegisterViewModel
@{
    string strTitle = "Регистрация";
    ViewBag.Title = strTitle;
}
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="inputBox">
        @if (Model.MaxLengthName)
        {
            <p class="Alert">Максимальная длинна UserName - 20 символов</p>
        }
        @if (Model.UniqueName)
        {
            <p class="Alert">Это имя пользователя уже занято</p>
        }
        <label asp-for="UserName"></label><br />
        <input class="inputBox" asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="inputBox">
        <label asp-for="Email"></label><br />
        <input class="inputBox" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="inputBox">
        <label asp-for="Password"></label><br />
        <input class="inputBox" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="inputBox">
        <label asp-for="PasswordConfirm"></label><br />
        <input class="inputBox" asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" class="glo" />
    </div>
</form>